
h2.inset{
  font-size: 5em;
  font-weight: 900;
  color: #224970;
  font-family: cursive;
}

h2.inset:before{
  font-size: 5em;
  font-weight: 900;
  position: absolute;
  margin: 2px 2 2 2px;
  content:attr(title);
  color: #fff;
  opacity: 0.4
  filter:alpha(opacity=40);
}
